{
  "name": "My Amazing IWriteLists bot", //your bot's name
  "accountName": "idontwritelists", // your bot's account name
  "password": "I am so cool for using IWriteLists!" // your bot's password
}
